
.logo{
    margin-left: 10px;
    width: 120px;
    height: 50px;
}

.eyes{
    /* background-color: saddlebrown; */
    padding-left: 20px;
}

.count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(213, 79, 79);
    font-size: 12px;
    margin-top: -10px;
    color: white;
}

@media screen and (max-width:500px) {
    

.nav-edge{
    margin-top: 300px;
    display: block;
}

}

nav{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
}

nav .links{
    margin: auto;
    font-size: 20px;
}

.active{
    color: rgb(213, 79, 79) !important;
    font-size: 22px;
}

.nav-link:hover{
    color: rgb(213, 79, 79) !important;
}

#dropdown #active2{
    color: rgb(213, 79, 79);
}
nav .person{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
nav .person .photo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(63, 63, 63);
    font-size: 25px;
    width: 40px;
    height: 40px;
}
nav .person .userName{
    color: black;
    font-size: 17px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0%;
    /* margin-left: -20px;   */
}
nav .cart-icon{
    font-size: 25px;
    margin-top: 12px;
    margin-left: 20px;
}
nav .fa-eye{
    font-size: 25px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 10px;
}
form .search{
    border-radius: 50px 0 0 50px;
    border: 0px;
    box-shadow: 1px 1px 5px rgb(141, 137, 137);
    padding: 12px;
}
form .search-icon{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-left: -8px;
    padding-right: 20px;
    border: 0px;
    height: 50px;
    width: 50px;
    /* background: rgb(0, 155, 103); */
    background: rgb(213, 79, 79);
    box-shadow: 1px 1px 5px rgb(63, 63, 63);
    color: white;
}
form .search-icon:hover{
    /* background: rgb(1, 190, 127); */
    background: rgb(214, 112, 112);
}





@media only screen and (max-width: 767px){
    /* .search{
        min-width: 60%;
    } */
    nav .links .nav-item a.nav-link{
        font-size: 22px;
    }
}
@media screen and (max-width: 1040px) and (min-width: 767px){
    .logo{
        height: 50px;
        width: 90px;
    }
    nav .person .photo{
        font-size: 20px;
    }
    nav .cart-icon{
        font-size: 20px;
    }
    nav .fa-eye{
        font-size: 20px;
    }
    nav .links .nav-item a.nav-link{
        font-size: 15px;
    }
    form .search{
        margin-top: 7px;
        height: 30px;
        max-width: 90px;
        font-size: 13px;
    }
    form .search-icon{
        margin-top: 7px;
        height: 30px; 
        font-size: 13px;
        display: inline;
    }
    nav .person .userName{
        font-size: 13px;
    }
}


@media only screen and (min-width:768px) and (max-width: 850px){
    nav .links .nav-item a.nav-link{
        font-size: 13px !important;
    }
}